<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.url">jdbc:sqlserver://localhost:1433;databaseName=FleaMarket</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">admin</property>
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.id.new_generator_mappings">false</property>

        <mapping class="Model.Entities.Adress" />
        <mapping class="Model.Entities.Category" />
        <mapping class="Model.Entities.Order" />
        <mapping class="Model.Entities.OrderProduct" />
        <mapping class="Model.Entities.OrderProductId" />
        <mapping class="Model.Entities.Product" />
        <mapping class="Model.Entities.User" />

    </session-factory>
</hibernate-configuration>